// Widescreens
@include mediaXl {
  .project {
    grid-template-columns: repeat(4, 1fr);
  }
}
// Desktops & Laptops
@include mediaLg {
  .project {
    grid-template-columns: repeat(3, 1fr);
  }
}
// Tablets & Small Laptops
@include mediaMd {
  .mobileLogo{
    visibility: visible;
    position: fixed;
    top: 3%;
    left: 7%;
    font-size: 1.3em;
    z-index: 20;
    color:white;
    mix-blend-mode: difference;
    text-decoration: none;
  }
  .sticky1 {
    background: white;
    height: 100vh;
    .i {
      visibility: hidden;
    }
    .n {
      visibility: hidden;
    }

    .innerl {
      visibility: hidden;
    }
    .ianseng {
      visibility: hidden;
    }
    .a {
      visibility: hidden;
    }

    .mobileContainer1 {
      visibility: visible;
      width: 98px;
      height: 98px;
      background: yellow;
      position: absolute;
      top: 30%;
      left: 20%;
      transform: translate(-50%, -50%);
    }
    .mobileHello {
      visibility: visible;
      font-size: 5em;
    }
    .mobileIanSeng {
      visibility: visible;
      position: absolute;
      font-size: 3.5em;
    }
  }

  .sticky2 {
    
    background: white;
    height: 100vh;

    //Moble About
    .mobileContainer2 {
      visibility: visible;
      width: 98px;
      height: 98px;
      background: red;
      position: absolute;
      top: 20%;
      left: 20%;
      transform: translate(-50%, -50%);
    }
    .mobileAbout {
      visibility: visible;
      font-size: 5em;
    }

    .mobileMyself {
      visibility: visible;
      width: 80vw;
      font-size: 1.8em;
      padding-bottom: 30px;
    }

    .mobileMyself2 {
      visibility: visible;
      position: absolute;
      width: 80vw;
      font-size: 1.3em;
    }
    .about-header {
      visibility: visible;
      visibility: hidden;
    }

    .about-myself {
      visibility: hidden;
      color: black;
      font-size: 2.5em;
      font-family: "PT Sans", sans-serif;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      //border: 3px solid #73AD21;
      width: 300px;

      .canada:after {
        content: "";
        text-decoration: underline;
      }

      .canada:hover:after {
        content: " and Malaysia";
        opacity: 0.5;
      }
    }
    .typing {
      position: relative;
      color: #4caf50;
    }

    .typing::after {
      content: "";
      position: relative;

      width: 1px;
      height: 5%;
      border-right: 2px solid black;
      animation: blink 1s infinite ease;
    }

    .about-myself2 {
      visibility: hidden;
    }
  }
  .sticky3 {
    background: black;
    height: 210vh;

    .mobileContainer3 {
      visibility: visible;
      width: 98px;
      height: 98px;
      background: blue;
      position: absolute;
      top: 10%;
      left: 20%;
      transform: translate(-50%, -50%);
    }
    .mobileProject {
      visibility: visible;
      font-size: 5em;
    }

    .mobilePicmymed {
      visibility: visible;
      font-size: 1.5em;
      width: 80vw;
      padding-top: 50px;
      color: #fff;
    }
    .mobilePicmymedlogo {
      visibility: visible;
      object-fit: cover;
      width: 30vw;
      height: 30vw;
    }
    .mobilePicmymedDescription {
      visibility: visible;
      font-size: 1.3em;
      width: 80vw;
      color: #fff;
    
    }
    .picmymedlink {
      visibility: visible;
      color:white;
      animation: glow 1.5s ease-in-out infinite alternate;
    }
    @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #192340, 0 0 30px #192340,
          0 0 10px #192340, 0 0 10px #192340, 0 0 60px #192340, 0 0 70px #192340;
      }
      to {
        text-shadow: 0 0 10px #fff, 0 0 10px #62c6eb, 0 0 20px #62c6eb,
          0 0 10px blue, 0 0 20px blue, 0 0 10px #62c6eb, 0 0 10px #62c6eb;
      }
    }
    .mobileSfom {
      visibility: visible;
      font-size: 1.5em;
      width: 80vw;
      padding-top: 160px;
      color: #fff;
    }

    .mobileSfologo {
      visibility: visible;
      object-fit: cover;
      width: 35vw;
      height: 30vw;
    }

    .mobileSfoDescription {
      visibility: visible;
      font-size: 1.3em;
      width: 80vw;
      color: #fff;
    }
    .mobileMoreProject {
      visibility: visible;
      font-size: 2.8em;
      width: 100vw;
      padding-top: 100px;
      color: #fff;
    }
    .project1 {
      visibility: hidden;
    }

    .project1a {
      visibility: hidden;
    }
  }
  .sticky3b {
    visibility: hidden;
    height: 0;
  }

  .sticky3a {
    visibility: hidden;
    height: 10px;
    position: relative;

    &.lineimg {
      visibility: hidden;
    }
    &.more {
      visibility: hidden;
    }
    .warning1 {
      visibility: hidden;
    }
    .warning2 {
      visibility: hidden;
    }
    .warning3 {
      visibility: hidden;
    }
    &.githubSign {
      visibility: hidden;
    }
  }

  .sticky4 {
    height: 90vh;
    .mobileContainer4 {
      visibility: visible;
      width: 98px;
      height: 98px;
      background: #83b8bb;
      position: absolute;
      top: 20%;
      left: 20%;
      transform: translate(-50%, -50%);
    }
    .mobileContact {
      visibility: visible;
      font-size: 5em;
      padding-bottom: 30px;
    }
    .mobilebox {
      visibility: visible;
      font-size: 1.5em;
    }

    .mobileContactBox {
      visibility: visible;
      position: parallel;
      width: 80vw;
      height: 98px;
      //background: red;
    }
    .fa {
      visibility: visible;
      padding-top: 35px;
      font-size: 30px;
      height: 63px;
      width: 98px;
      text-align: center;
      text-decoration: none;
      //margin: 5px 2px;
    }
    .fa:hover {
      visibility: visible;
      opacity: 0.7;
    }
    .fa-envelope {
      visibility: visible;
      background: #f5dd91;
      color: white;
    }

    .fa-github {
      visibility: visible;
      background: #f68e5f;
      color: white;
    }

    .fa-codepen {
      visibility: visible;
      background: #f86c5e;
      color: white;
    }

    .fa-facebook {
      visibility: visible;
      background: #3b5998;
      color: white;
    }

    .mobileFooter {
      visibility: visible;
      height: 50px;
      width: 80vw;
      //background: red;
      text-align: center;
      padding-bottom: 10px;
    }

    .contact1 {
      visibility: hidden;
    }
    .contactc {
      visibility: hidden;
    }
    .footer {
      visibility: hidden;
    }
    .emaillink{
      visibility: hidden;
    }
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
  main {
    padding: 1rem;
  }
  .project {
    grid-template-columns: 1fr;
  }
}
